*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: auto;
    height: 37.5rem;
}
img{
    width: 130%;
    height: 37.5rem;
    border-top-left-radius:290px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:290px;
}

.login h1{
    font-size: 3rem;
    font-weight: 300;

}

.inp{
    height: 50px;
    width: 55%;
    outline: none;
    border-radius: 60px;
    box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.45);
    background: radial-gradient(circle, rgba(57,141,203,1) 21%, rgba(108,221,145,1) 100%);
    color: white;
}

.btn1{
    width:200px ;
    height: 40px;
    border: none;
    border-radius:60px ;
    background-color:rgba(57,141,203,1);
    color: white;
}

.btn1:hover{
    background-color:#0db47a;
    transition:  linear 0.5s;
}


.fa-facebook{
    padding: 10px ;
    font-size: 30px;
}
.fa-facebook:hover{
    color: rgb(54, 83, 228);
}
.fa-instagram{
    padding: 10px ;
    font-size: 30px;
}
.fa-instagram:hover{
  color: fuchsia;
}
.fa-twitter{
    padding: 10px ;
    font-size: 30px;   
}

.fa-twitter:hover{
   color: rgb(0, 174, 255);
}
.fa-envelope{
    padding: 10px ;
    font-size: 30px;
}
.fa-envelope:hover{
   color: rgb(245, 241, 136);
}

.fa-google{
    padding: 10px;
    font-size: 30px;
}
.fa-google:hover{
 color: rgb(231, 106, 106);
}

p{
    padding-top: 30px;
    color: rgb(4, 68, 3);
}
.foot{
    background-color: black;
    color: white;
}
@media screen and (max-width:1024px)  {
   .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   img{
    width: 120%;
   }
}



@media screen and (max-width:430px)  {
    img{
       width: 100%;
       height: 110%;
       border-top-left-radius:200px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:200px;
       
    }
    .row{
        height: 70rem;
        box-shadow: 0px 2px 4px 0px;
       display: inline;
    }
    .login h1{
        font-size: 2.5rem;
        margin-top: 1rem;
    }

}